.admin-dashboard {
    display: flex;
}

.admin-sidebar {
    background: rgba(245, 225, 147, 0.4);
}

.admin-sidebar-header {
    margin-top: 10px;
}

.admin-component {
    /*display: flex;*/
    /*justify-content: center;*/
    width: 100%;
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}